<main id="home" class="home-hero">
  <div class="overlay">
    <div class="container">
      <div id="greetings" class="text-center">
        <div class="title h1">Greetings from</div>
        <%= image_tag "/ls-logo.png", alt: "Los Santos", class: 'img-responsive' %>
      </div>

      <div class="columns">
        <div class="column col-3 col-md-1"></div>
        <div class="column col-6 col-md-10">
          <div class="carousel">
            <!-- carousel locator -->
            <input class="carousel-locator" id="slide-1" type="radio" name="carousel-radio" hidden="" checked="">
            <input class="carousel-locator" id="slide-2" type="radio" name="carousel-radio" hidden="">
            <input class="carousel-locator" id="slide-3" type="radio" name="carousel-radio" hidden="">
            <input class="carousel-locator" id="slide-4" type="radio" name="carousel-radio" hidden="">

            <!-- carousel container -->
            <div class="carousel-container">
              <!-- carousel item -->
              <figure class="carousel-item">
                <label class="item-prev btn btn-action btn-lg" for="slide-4"><i class="icon icon-arrow-left"></i></label>
                <label class="item-next btn btn-action btn-lg" for="slide-2"><i class="icon icon-arrow-right"></i></label>
                <img class="img-responsive rounded" src="https://i.imgur.com/X3knDM9.jpg" alt="Game Screenshot">
              </figure>
              <figure class="carousel-item">
                <label class="item-prev btn btn-action btn-lg" for="slide-1"><i class="icon icon-arrow-left"></i></label>
                <label class="item-next btn btn-action btn-lg" for="slide-3"><i class="icon icon-arrow-right"></i></label>
                <img class="img-responsive rounded" src="https://i.imgur.com/H88g9rb.jpg" alt="Game Screenshot">
              </figure>
              <figure class="carousel-item">
                <label class="item-prev btn btn-action btn-lg" for="slide-2"><i class="icon icon-arrow-left"></i></label>
                <label class="item-next btn btn-action btn-lg" for="slide-4"><i class="icon icon-arrow-right"></i></label>
                <img class="img-responsive rounded" src="https://i.imgur.com/zNAIc6L.jpg" alt="Game Screenshot">
              </figure>
              <figure class="carousel-item">
                <label class="item-prev btn btn-action btn-lg" for="slide-3"><i class="icon icon-arrow-left"></i></label>
                <label class="item-next btn btn-action btn-lg" for="slide-1"><i class="icon icon-arrow-right"></i></label>
                <img class="img-responsive rounded" src="https://i.imgur.com/eIWJ5pr.jpg" alt="Game Screenshot">
              </figure>
            </div>
            <!-- carousel navigation -->
            <div class="carousel-nav">
              <label class="nav-item text-hide c-hand" for="slide-1">1</label>
              <label class="nav-item text-hide c-hand" for="slide-2">2</label>
              <label class="nav-item text-hide c-hand" for="slide-3">3</label>
              <label class="nav-item text-hide c-hand" for="slide-4">4</label>
            </div>
          </div>
        </div>
        <div class="column col-3 col-md-1"></div>

        <div class="column col-3 col-xl-2"></div>
        <div class="column col-6 col-xl-8">
          <div class="title h1 text-center text-uppercase">This City is Yours</div>
          <div class="divider"></div>
          <p class="text-large text-center">
            <span class="title h3">Time Served</span> is a multiplayer online role playing game built on top of a modded server for Grand Theft Auto V. We started with the popular <a href="https://fivem.net/" target="_blank">FiveM</a> modification, and built a custom, economy-focused framework on top. Time Served is 100% free to play if you have a licensed copy of Grand Theft Auto V.
          </p>
        </div>
        <div class="column col-3 col-xl-2"></div>

        <div class="column col-5 col-md-3"></div>
        <div class="column col-2 col-md-6">
          <p class="text-center"><a id="home-cta" href="https://discord.com/invite/3ZbD9MP" target="_blank" class="btn btn-lg btn-primary text-bold">Play Now</a></p>
        </div>
        <div class="column col-5 col-md-3"></div>
      </div>
    </div>
  </div>
</main>

<section class="home-hero">
  <div class="overlay">
    <div class="container">
      <div class="columns">
        <div class="column col-3 col-xl-2"></div>
        <div class="hero-text column col-2 col-xl-5">
          <div class="title h1 text-uppercase">Build an Economic Empire</div>
          <p class=text-large>Grow your wealth and power through a variety of legal or illegal avenues.</p>
        </div>
        <div class="column col-7 col-xl-5"></div>
      </div>
    </div>
  </div>
</section>

<section class="home-hero">
  <div class="overlay">
    <div class="container">
      <div class="columns">
        <div class="column col-7 col-xl-5"></div>
        <div class="hero-text column col-2 col-xl-5 text-right">
          <div class="title h1 text-uppercase">Shape the World Through Your Actions</div>
          <p class=text-large>Players make, enforce, and adjudicate the laws of the world in pursuit of their own utopia.</p>
        </div>
        <div class="column col-3 col-xl-2"></div>
      </div>
    </div>
  </div>
</section>
