// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#home-postcard #greetings > .h1 {
    font-family: 'Allura', cursive;
    margin-top: 1em;
}

#home-postcard .carousel {
    border: 0.9em solid rgb(236, 236, 236);
    margin-bottom: 2em;
}

#home-postcard #greetings {
    margin-bottom: 1em;
}

#home-postcard #greetings img {
    margin: auto;
    max-width: 600px;
}
